.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

form {
  flex-direction: column;
}

input {
  width: 300px;
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.submit-button {
  width: 100px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}